html{
  height: 100%;
}

body{
  background-image: url('../img/background-tile.png');
  background-repeat: repeat;
  color: #FDFAEB;

  margin-top: 160px;
}

header{
  position: absolute;
  top: 0;
  z-index: 100;

  height: 70px;
  width: 100%;

  background-image: url('../img/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

footer{
  /*position: absolute;*/
  /*bottom: 0;*/
  /*z-index: 100;*/

  height: 70px;
  width: 100%;

  /*background-image: url('../img/footer.png');*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

a{
  color: #D3CFB9 !important;
  font-weight: 200 !important;
  cursor: pointer;
}

a:hover{
  color: #D3CFB9 !important;
  font-weight: 200 !important;
}

.spacing{
  margin-bottom: 10px;
}

.navbar{
  margin-top: 100px;  
  z-index: 1000;
}

.navbar.navbar-default{
  background-image: none !important;
  background-color: rgba(0,0,0,0) !important;
  border-color: rgba(0,0,0,0) !important;
  box-shadow: none !important;
}

.navbar-default .navbar-brand{
  color: #FEFEFE !important;
}

.navbar-default .navbar-nav>li>a{
  color: #FEFEFE !important;
}

.navbar-toggle{
  padding: 6px 6px !important;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #F7F4E6 !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: #877C7C !important;
}

.navbar-brand .name{
  display: inline-block;
  vertical-align: top;
  font-size: 26px;
  font-weight: 200;
  margin-top: -4px;
}

.navbar-brand .ae{
  display: inline-block;
  vertical-align: top;
  width: 64px;

  margin-top: -16px;
  margin-left: 5px;
}

.navbar .navigation-items{
  font-size: 16px;
  font-weight: 200;
}

.tree{
  background-image: url('../img/tree.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background-position: right top;
  background-size: 500px auto;
  z-inde: 1;
}

.top-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.content{
  font-weight: 100;
  font-size: 16px;
  color: #FEFEFE !important;
}

.big-letter{
  font-size: 24px;
  height: 60px;
  font-family: fantasy;
  line-height: 73px;
  width: 60px;
  background-image: url('../img/heart-only.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  margin-right: -16px;
}

.rotate {
  /* Safari */
  -webkit-transform: rotate(-23deg);

  /* Firefox */
  -moz-transform: rotate(-23deg);

  /* IE */
  -ms-transform: rotate(-23deg);

  /* Opera */
  -o-transform: rotate(-23deg);
}

.thin-letter{
  font-weight: 100;
}

.grid{
  margin: 5px;
}

.quote{
  font-size: 20px;
  text-decoration: italic;
  display: inline-block;
  padding: 20px;
}

#scrapbook .scrapbook-img{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 10px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #FDFDFD;
  border-radius: 1px;
  cursor: pointer;
}

#scrapbook .caption{
  font-size: 14px;
  height: 44px;
}

.place{
  margin-bottom: 10px;
}

.place .name{
  display: inline-block;
}

.place .website{
  display: inline-block;
  float: right;
}

.place .distance{
  display: inline-block;
  font-size: 12px;
}

.location .city{
  display: inline-block;
}
.location .state{
  display: inline-block;
}
.location .zip{
  display: inline-block;
}

#stay .place{
  padding: 10px;
  border: 1px solid #FEFEFE;
  border-radius: 3px;
}

#wedding .address{
  line-height: 10px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 10px;
  border: 1px solid #FEFEFE;
  border-radius: 3px;

  max-width: 300px;
}

.direction-imgs{
  /*height: 300px;*/
  /*width: auto;*/
}

.modal-body{
  margin: 15px;
}

.modal-body img{
  max-height: 500px;
  margin: 0 auto;
}

.close-modal{
  cursor: pointer;
  position: absolute;
  z-index:1000;
  top: 10px;
  right: 10px;
}

.prev-image{
  cursor: pointer;
  position: absolute;
  z-index:1000;
  top: 50%;
  left: 5px;
  margin-top: -5px;
}

.next-image{
  cursor: pointer;
  position: absolute;
  z-index:1000;
  top: 50%;
  right: 5px;
  margin-top: -5px;
}

