
extends layout

block content
  div Main stuff goes here
  div Main stuff goes here
  div Main stuff goes here
  div Main stuff goes here
  div Main stuff goes here
  div Main stuff goes here
  div Main stuff goes here
  div Main stuff goes here
  div Main stuff goes here
  div Main stuff goes here
  div Main stuff goes here