.navbar.navbar-default
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/')
				| Our Wedding
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li(class=title=='Markets'?'active':undefined)
					a(href='/markets') Our Wedding
				li(class=title=='Industry Sectors'?'active':undefined)
					a(href='/industry') Location
				li(class=title=='Contact'?'active':undefined)
					a(href='/contact') Accomodations
				li(class=title=='Contact'?'active':undefined)
					a(href='/contact') Transportation